* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.background {
  background: url(../src/assets/background.jpg);
  background-size: cover;
  min-height: 100vh;
  min-width: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
