* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  background: linear-gradient(rgba(77, 83, 244, 0.5), rgba(190, 190, 190, 0.5)),
    url(../src/assets/background.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  min-width: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
