.hero {
  width: 100%;
  height: 100vh;
  min-height: 600px;
  max-height: 800px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  grid-template-rows: 100px 1fr;
  background-color: #fefbfc;
  z-index: 1;
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 34, 255, 0),
      rgba(255, 255, 255, 0.4) 50%,
      rgba(0, 34, 255, 0.5)
    ),
    url('../../assets/bg2.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 65%, 25% 100%, 0 85%);
  z-index: -1;
}
