.hero {
  width: 100%;
  height: 1730px;
  min-height: 600px;
  max-height: 1730px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  grid-template-rows: 100px 1fr;
  background-color: lightblue;
  z-index: 1;
  background-image: linear-gradient(
    to bottom,
    rgb(255, 255, 255),
    rgba(225, 237, 243, 0.5) 50%,
    rgba(0, 34, 255, 0.5)
  );
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80vh;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 34, 255, 0),
      rgba(255, 255, 255, 0.4) 50%,
      rgba(0, 34, 255, 0.5)
    ),
    url('../../assets/bg2.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 95%, 0 80%);
  z-index: -1;
}
